<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joellehanna.libraryuser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_book"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_book"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/searchable" />

        <activity android:name=".searchActivity" />
        <activity android:name=".LibraryActivity" />
        <activity android:name=".BarcodeScannerActivity" />
        <activity android:name=".UsersActivity" />
        <activity android:name=".UserManagerActivity" />
        <activity android:name=".RegisterNewBook"></activity>

    </application>

</manifest>